<ion-header>
  <ion-navbar>
    <ion-title>
      Content
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button class="big" *ngFor="let row of gradingRows" (click)="goTo()"> Enter Grading Page</button>

</ion-content>

