page-home {

}
.help-btn{
  margin-top:-10px;
}
.cont{
  font-size: 20px;
}
//
//.grid{
//  border: 2px solid #1569ff;
//  border-radius: 20px;
//
//}

.plusMinus{


 // background-color: #e13838;
  border-width: 1000px;
  border-color: #2ec95c;

}

.headerRow{
  padding: 20px 50px 20px 50px;
  font-size: x-large;
  border: 2px solid #1569ff;
  border-radius: 10px;
  text-align: center;
}

.padding{
  padding: 50px 50px 50px 50px;
  text-align: center;

}

.myTitle{
  text-align: center;
  font-size: xx-large;
  padding: 10px 10px 10px 10px;
}


.cancelButton {
  width: 200px;
  height: 60px;
  background-color: #e13838;
  border-radius:50px;
}

.submitButton{
  width: 200px;
  height: 60px;
  background-color: #2ec95c;
  border-radius:50px;

}


//
//$colors: ( 'light': #fff, 'stable': #f8f8f8, 'positive': #387ef5, 'calm': #11c1f3, 'balanced':#33cd5f, 'energized':#ffc900, 'assertive':#ef473a, 'royal':#886aea, 'dark':#444);
//ul#ion-segment {
//  display: -webkit-box;
//  display: -webkit-flex;
//  display: -ms-flexbox;aa
//  display: flex;
//  -webkit-box-flex: 1;
//  -webkit-flex: 1;
//  -ms-flex: 1;
//  flex: 1;
//  -webkit-align-self: center;
//  -ms-flex-item-align: center;
//  align-self: center;
//  -webkit-box-pack: center;
//  -webkit-justify-content: center;
//  -ms-flex-pack: center;
//  justify-content: center;
//  width: 100%;
//  padding:0 5px 0 5px;
//  li.full {
//    -webkit-box-flex: 1;
//    -webkit-flex: 1;
//    -ms-flex: 1;
//    flex: 1;
//    width: 0;
//    padding: 0!important;
//  }
//  li {
//    background-color: transparent;
//    margin-right: 0;
//    margin-left: 0;
//    padding: 0 13px 0 13px;
//    color: #fff;
//    border: 1px solid;
//    transition: all 100ms linear;
//    -webkit-transition: all 50ms linear;
//    line-height: 23px;
//    max-height: 25px;
//    min-height: 25px;
//    overflow: hidden;
//    text-overflow: ellipsis;
//    white-space: nowrap;
//    background: none;
//    text-align: center;
//    cursor: pointer;
//    &:first-of-type {
//      margin-right: 0;
//      border-radius: 4px 0 0 4px;
//    }
//    &:not(:first-of-type) {
//      border-left-width: 0;
//    }
//    &:last-of-type {
//      margin-left: 0;
//      border-left-width: 0;
//      border-radius: 0 4px 4px 0;
//    }
//    &:last-of-type .active {
//      background: red;
//    }
//  }
//}
//
//@each $name,
//$value in $colors {
//  ul#ion-segment[#{$name}] li.active {
//    background-color: $value;
//    color: #fff;
//  }
//  ul#ion-segment[#{$name}] li {
//    border-color: $value;
//    color: $value;
//  }
//  ul#ion-segment[#{$name}] li:hover:not(.active) {
//    background-color: rgba($value, 0.1);
//  }
//}
