<ion-header>
  <ion-navbar>
    <ion-title>
      Grading Categories
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="cont">

  <h1 class = "myTitle">{{pushedData.btn.title}}</h1>

  <ion-grid font-size="x-large">
    <ion-row class = "headerRow">
      <ion-col>
        Task
      </ion-col>
      <ion-col>
        Objective
      </ion-col>
      <ion-col>
        Subjective
      </ion-col>
      <ion-col>
        Notes
      </ion-col>
    </ion-row>


    <ion-row class = "padding" *ngFor="let row of pushedData.btn.gradingObjects; let i = index">
      <ion-col>
        <span (click)="helpPopover()">{{row.title}}</span>  <ion-icon  name="help-circle" (click)="helpPopover()"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-segment value="shared" >
          <ion-segment-button color="dark" value="1" >
            1
          </ion-segment-button>
          <ion-segment-button value="2">
            2
          </ion-segment-button>
          <ion-segment-button value="3">
            3
          </ion-segment-button>
          <ion-segment-button value="4">
            4
          </ion-segment-button>
        </ion-segment>


      </ion-col>

      <ion-col class="test">
        <ion-segment class="plusMinus" align-items-start>

          <ion-segment-button value="bookmark">
               -
          </ion-segment-button>
          <ion-segment-button  value="camera">
            +
          </ion-segment-button>

        </ion-segment>
      </ion-col>
      <ion-col>
        <button ion-button (click)="goToNotes()">
          <ion-icon name="create" >

          </ion-icon>

        </button>
      </ion-col>

    </ion-row >

    <!--<ion-row class = "padding" align="center">-->
      <!--<ion-col>-->
        <!--Judgement-->
      <!--</ion-col>-->
      <!--<ion-col >-->
        <!--<ion-segment value="shared" >-->
          <!--<ion-segment-button value="1">-->
            <!--1-->
          <!--</ion-segment-button>-->
          <!--<ion-segment-button value="2">-->
            <!--2-->
          <!--</ion-segment-button>-->
          <!--<ion-segment-button value="3">-->
            <!--3-->
          <!--</ion-segment-button>-->
          <!--<ion-segment-button value="4">-->
            <!--4-->
          <!--</ion-segment-button>-->
        <!--</ion-segment>-->


      <!--</ion-col>-->

      <!--<ion-col align-items-end="" >-->
        <!--<ion-segment class="plusMinus" >-->
          <!--<ion-segment-button value="camera">-->
            <!--+-->
          <!--</ion-segment-button>-->
          <!--<ion-segment-button value="bookmark">-->
               <!-- - -->
          <!--</ion-segment-button>-->

        <!--</ion-segment>-->
      <!--</ion-col>-->
      <!--<ion-col align="center">-->
        <!--<button ion-button>-->
          <!--<ion-icon name="create" >-->

          <!--</ion-icon>-->

        <!--</button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->

    <!--<ion-row class = "padding">-->
    <!--<ion-col>-->
      <!--Safety-->
    <!--</ion-col>-->
      <!--<ion-col>-->
        <!--<ion-segment value="shared" >-->
          <!--<ion-segment-button value="1">-->
            <!--1-->
          <!--</ion-segment-button>-->
          <!--<ion-segment-button value="2">-->
            <!--2-->
          <!--</ion-segment-button>-->
          <!--<ion-segment-button value="3">-->
            <!--3-->
          <!--</ion-segment-button>-->
          <!--<ion-segment-button value="4">-->
            <!--4-->
          <!--</ion-segment-button>-->
        <!--</ion-segment>-->


      <!--</ion-col>-->

      <!--<ion-col>-->
        <!--<ion-segment class="plusMinus" >-->
          <!--<ion-segment-button  value="camera">-->
            <!--+-->
          <!--</ion-segment-button>-->
          <!--<ion-segment-button value="bookmark">-->
               <!-- - -->
          <!--</ion-segment-button>-->

        <!--</ion-segment>-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--<button ion-button >-->
          <!--<ion-icon name="create" >-->

          <!--</ion-icon>-->

        <!--</button>-->
      <!--</ion-col>-->
  <!--</ion-row>-->

    <!--<ion-row class = "padding">-->
    <!--<ion-col>-->
      <!--Situational Awareness-->
    <!--</ion-col>-->
      <!--<ion-col>-->
          <!--<ion-segment value="shared" >-->
            <!--<ion-segment-button value="1">-->
              <!--1-->
            <!--</ion-segment-button>-->
            <!--<ion-segment-button value="2">-->
              <!--2-->
            <!--</ion-segment-button>-->
            <!--<ion-segment-button value="3">-->
              <!--3-->
            <!--</ion-segment-button>-->
            <!--<ion-segment-button value="4">-->
              <!--4-->
            <!--</ion-segment-button>-->
          <!--</ion-segment>-->
      <!--</ion-col>-->

      <!--<ion-col>-->
        <!--<ion-segment class="plusMinus">-->
          <!--<ion-segment-button   value="camera">-->
            <!--+-->
          <!--</ion-segment-button>-->
          <!--<ion-segment-button value="bookmark" >-->
               <!-- - -->
          <!--</ion-segment-button>-->

        <!--</ion-segment>-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--<button ion-button >-->
          <!--<ion-icon name="create" >-->

          <!--</ion-icon>-->

        <!--</button>-->
      <!--</ion-col>-->
  <!--</ion-row>-->



    <ion-row align="center">
      <ion-col>
        <button ion-button class="cancelButton" (click)="cancel()">
          Cancel
        </button>
      </ion-col>
      <ion-col>
        <button ion-button class="submitButton" (click)="submit()">
          Submit
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<!--</ion-content>-->




<!--<html ng-app="app">-->
<!--<div class="bar bar-header bar-dark">-->

  <!--<ion-segment ng-model="categories" full="true"  assertive>-->
    <!--<ion-segment-button value="movies">-->
      <!--Movies-->
    <!--</ion-segment-button>-->
    <!--<ion-segment-button value="series">-->
      <!--Series-->
    <!--</ion-segment-button>-->
    <!--<ion-segment-button value="animation">-->
      <!--Animate-->
    <!--</ion-segment-button>-->

  <!--</ion-segment>-->
<!--</div>-->
<!--<ion-content class="has-header">-->

  <!--<div ng-switch="categories">-->

    <!--<ion-list ng-switch-when="movies">-->
      <!--<ion-item>-->
        <!--Batman Begins-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--Transporter-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--Million Dollar Baby-->
      <!--</ion-item>-->
    <!--</ion-list>-->

    <!--<ion-list ng-switch-when="series">-->
      <!--<ion-item>-->
        <!--Game of Thrones-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--Daredevil-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--Arrow-->
      <!--</ion-item>-->
    <!--</ion-list>-->
    <!--<ion-list ng-switch-when="animation">-->
      <!--<ion-item>-->
        <!--Ice Age-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--Lion King-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--Up-->
      <!--</ion-item>-->
    <!--</ion-list>-->

  <!--</div>sss-->
<!--</ion-content>-->

<!--</html>-->
