<ion-header>
  <ion-navbar>
    <ion-title>
      My Notes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Notes</ion-label>
      <ion-textarea class="notes-height" rows="40">

      </ion-textarea>
    </ion-item>
  </ion-list>

</ion-content>
