<ion-header>
  <ion-navbar>
    <ion-title>
      {{pushedData.btn.title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row *ngFor="let row of gradingRows">
      <ion-col>
        <div>
          <!--ROW {{row.title}}{{row.description}} {{color.name}}-->
          Grading template page grading edit

        </div>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>

