<ion-content scroll="true">



  <ion-card>
    <ion-card-header>
      <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
      <ion-card-title>New Form</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Please enter information about your upcoming flight.
    </ion-card-content>

    <div padding>
      <ion-label>Mission:</ion-label>
      <ion-input title="Mission" placeholder="Enter Mission" required="true"></ion-input>
    </div>

    <div padding>
      <ion-item>
        <ion-label >Date:</ion-label>
        <ion-datetime display-format="MMM DD, YYYY HH:mm" required="true"></ion-datetime>
      </ion-item>
    </div>

    <div padding>
      <ion-list>
        <ion-item>
          <ion-label>Instructor:</ion-label>
          <ion-select required="true">

            <ion-option>Maj Joe</ion-option>
            <ion-option>Capt Bob</ion-option>
            <ion-option>LtCol Sam</ion-option>
          </ion-select>
        </ion-item>

      </ion-list>
    </div>


    <div padding>
      <ion-list>
        <ion-item>
          <ion-label>Pilot:</ion-label>
          <ion-select required="true">

            <ion-option>Maj Joe</ion-option>
            <ion-option>Capt Bob</ion-option>
            <ion-option>LtCol Sam</ion-option>
            <ion-option>Maj J</ion-option>
            <ion-option>Capt K</ion-option>
            <ion-option>LtCol L</ion-option>
            <ion-option>Maj M</ion-option>
            <ion-option>Capt N</ion-option>
            <ion-option>LtCol O</ion-option>
            <ion-option>Maj P</ion-option>
            <ion-option>Capt Q</ion-option>
            <ion-option>LtCol R</ion-option>
            <ion-option>Maj S</ion-option>
            <ion-option>Capt T</ion-option>
            <ion-option>LtCol U</ion-option>
            <ion-option>Maj V</ion-option>
            <ion-option>Capt W</ion-option>
            <ion-option>LtCol X</ion-option>
          </ion-select>
        </ion-item>

      </ion-list>
    </div>

    <div padding>
      <ion-list>
        <ion-item>
          <ion-label>Aircraft:</ion-label>
          <ion-select required="true">

            <ion-option>C-17</ion-option>
            <ion-option>C-130</ion-option>
            <ion-option>C-5</ion-option>
          </ion-select>
        </ion-item>

      </ion-list>
    </div>

  </ion-card>

  <div padding>
    <!--Sign up will be changed either to a new form sheet or go back to the home screen based upon selection-->
    <button ion-button block (click)="mainMenu()">{{ 'Submit Form' | translate }}</button>

  </div>
  <div padding>
    <button ion-button block (click)="cancel()">{{ 'Cancel Form' | translate }}</button>
  </div>


</ion-content>

