<ion-header>
  <ion-toolbar>
    <ion-title>
      Grading Categories
    </ion-title>
    <button  ion-button menuToggle right (click)="exitToFilePage()">
      <ion-icon name="close-circle"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <p>

    <ion-grid>
      <ion-row>
        <ion-col aria-setsize="6" col-3 align="center" *ngFor="let btn of gradingCats; let i = index">
          <div>
            <button ion-button color="light" class="record-buttons" (click)="goTo(btn)">
              <img src="{{btn.img}}"/>
            </button>
            <br />
            <font size="5">{{btn.title}}</font>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>

  </p>
</ion-content>
<!--<ion-footer>-->
  <!--<ion-grid>-->

    <!--<ion-row>-->
      <!--<ion-col>-->
        <!--col1-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--col2-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!---->
  <!--</ion-grid>-->
<!--</ion-footer>-->
