<ion-content scroll="true">









  <ion-grid>
    <ion-row>


      <ion-col>
        <ion-card>
          <ion-card-header>

            <ion-card-title>New Form</ion-card-title>
          </ion-card-header>
          <ion-icon name="person-add"></ion-icon>
          <button>Start new form</button>

        </ion-card>
      </ion-col>


      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Select From Old Forms</ion-card-title>
          </ion-card-header>
          <ion-icon name="paper"></ion-icon>

          <ion-card-content>
            Select a form listed below you'd like to modify
          </ion-card-content>

          <ion-list>
            <ion-item>
              <button>Capt Joe, 10 Dec 2018, C-17, Air Assault</button>
            </ion-item>
            <ion-item>
              <button>Capt Joe, 10 Dec 2018, C-17, Air Assault</button>

            </ion-item>
            <ion-item>
              <button>Maj Bob, 10 Nov 2018, C-17, Low Level</button>
            </ion-item>
            <ion-item>
              <button>1LT Snuffy, 10 Apr 2018, C-17, Touch-and-Goes</button>

            </ion-item>
            <ion-item>
              <button>2LT Smitty, 10 Jan 2018, C-17, Refueling</button>

            </ion-item>
          </ion-list>


        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>







</ion-content>
