<ion-header>
  <ion-navbar>
    <ion-title>
      Help Data
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    This is a placeholder for the help text
  </p>
</ion-content>
